/* Mudando o estilo de um id específico. Usa o '#' antes do nome */
#textoPrincipal {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 10px;
    background-color: #444;
    /*margin-bottom: 50px; */
}